openapi: 3.0.3
info:
  title: Fate-Server
  version: "1.0"
  license:
    name: "GNU AFFERO GENERAL PUBLIC LICENSE 3.0 (or later)"
    url: "https://www.gnu.org/licenses/agpl-3.0.en.html"
  contact:
    name: Pieter
    email: fate-server@eemco.nl
tags:
  - name: Game
    description: Game options
  - name: Test
    description: Just to test stuff, will be removed later
servers:
  - url: "https://player.faterpg.nl/{basePath}"
    description: Production Server Api
    variables:
      basePath:
        default: v1
paths:
  "/games/subscribe/{gameId}":
    post:
      description: Subscribe to a game
      operationId: games_subscribe_post
      tags:
        - Game
      parameters:
        - in: path
          name: gameId
          schema:
            type: string
            pattern: '^game_[a-zA-Z0-9]+$'
          required: true
          description: ID of the game to Subscribe to
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  Ok:
                    type: boolean
                    example: true
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "502":
          $ref: "#/components/responses/502"
        default:
          $ref: "#/components/responses/default"

components:
  responses:
    "204":
      description: OK
    "400":
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/error_response"
    "401":
      description: Authentication Not Found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/error_response"
    "403":
      description: Access Denied
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/error_response"
    "404":
      description: Not Found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/error_response"
    "500":
      description: General Error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/error_response"
    "502":
      description: Bad Gateway
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/error_response"
    default:
      description: Unexpected error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/error_response"
  schemas:
    error_response:
      type: object
      properties:
        type:
          type: string
        detail:
          type: string
        instance:
          type: string
        errors:
          type: array
          items:
            type: object
            properties:
              message:
                type: string
        title:
          type: string
        status:
          type: integer
